@import url(reset.css);
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500&subset=latin,cyrillic); /*font-family: 'Roboto', sans-serif;*/
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:700,400&subset=latin,cyrillic); /*font-family: 'Roboto Slab', serif;*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700); /*font-family: 'Open Sans', sans-serif;*/

body {
    /*background: url("../images/bg-body.png") repeat;*/
    background-color: #2ca9f0;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #626676;
}

.clear {
    clear: both;
}

.main {
    width: 1000px;
    margin: 0 auto;
    background-color: #ffffff;
}

/*----------------------------------
               Header
----------------------------------*/

.main > header {
    height: 319px;
    background: url("../images/bg-header-blue.png") 0 0 no-repeat;
    padding-top: 40px;
}

.wrapper {
    width: 1000px;
    height: 118px;
    padding-top: 40px;
}

.contacts {
    width: 1000px;
    height: 75px;
    background: url("../images/bg-contacts.png") 0 0 repeat-x;
}

.photo {
    width: 158px;
    height: 158px;
    margin: -115px auto 0 auto;
    background: url("../images/photo.png") 0 0 no-repeat;
}

.phone, .address {
    float: left;
    width: 210px;
    height: 55px;
    margin: 10px 0 10px 0;
}

.mail, .web {
    float: right;
    width: 210px;
    height: 55px;
    margin: 10px 0 10px 0;
}

.phone {
    width: 167px;
}

.address {
    width: 243px;
}


.phone {
    background: url("../images/icon-phone-blue.png") 50px 17px no-repeat;
}

.address {
    background: url("../images/icon-adress-blue.png") 0px 18px no-repeat;
}

.mail {
    background: url("../images/icon-mail-blue.png") 38px 17px no-repeat;
}

.web {
    background: url("../images/icon-web-blue.png") 16px 17px no-repeat;
}

.contacts p {
    font: 600 12px 'Open Sans', sans-serif;
    margin: 19px 0 0 30px;
}

.phone p {
    margin-left: 80px;
}

.mail p {
    margin-left: 69px;
}

.web p {
   margin-left: 47px;
}

.name {
    width: 280px;
    height: 70px;
    margin: 25px auto 0 auto;
}

.name h1 {
    text-align: center;
    text-transform: uppercase;
    font: bold 38px 'Roboto Slab', serif;
    color: #ffffff;
    letter-spacing: 1px;
}

.name h2 {
    text-align: center;
    text-transform: uppercase;
    font: 17px 'Open Sans', sans-serif;
    color: #78bef5;
    margin-top: -2px;
    letter-spacing: 1px;
}

/*----------------------------------
               Content
----------------------------------*/

.objective {
    width: 1000px;
    height: 153px;
    padding-top: 35px;
}

.content h2, footer h2 {
    text-transform: uppercase;
    font: bold 19px 'Open Sans', sans-serif;
    color: #2ca9f0;
    margin: 0 0 8px 105px;
	letter-spacing: 0.6px;

}

.objective header h2 {
    text-align: center;
    margin: 0;
}

.work-timeline h2 {
	letter-spacing: 1px;
}

.education-timeline h2 {
    margin-left: 91px;
}


.objective p {
    margin-top: 9px;
    text-align: center;
    font: 12px 'Open Sans', sans-serif;
    word-spacing: 2.2px;
    line-height: 22px;
}

.objective p span {
    font-weight: bold;
}

.work-timeline, .education-timeline {
    float: left;
    width: 500px;
    height: 523px;
    background: url("../images/eclipse-blue.png") 461px 36px no-repeat
}

.education-timeline {
    background-position: 24px 36px;
}

.part1, .part2 {
    height: 163px;
    background: url("../images/icon-place.png") 103px 27px no-repeat,url("../images/icon-date.png") 215px 27px no-repeat;
}

.part2 {
    background-position: 90px 27px, 223px 27px;
}

.part2 + .part2 {
    background-position: 90px 27px, 183px 27px;
}

.part2 + .part2 + .part2 {
    background-position: 90px 27px, 240px 27px;
}

.part1 + .part1, .part2 + .part2  {
    height: 158px;
}

.part1 + .part1 + .part1, .part2 + .part2 + .part2 {
    height: 168px;
}

.part1 header h3, .part2 header h3{
    text-transform: uppercase;
    font: 14px 'Roboto Slab', serif;
    color: #2d3141;
    margin-left: 101px;
    letter-spacing: 0.6px;
}

.part2 header h3{
    margin-left: 91px;
}

.part1 pre, .part2 pre {
    font: 9px 'Open Sans', sans-serif;
    color: #8b90a3;
    margin: 9px 0 0 120px;
    letter-spacing: 0.2px;
}

.part2 pre {
    margin: 9px 0 0 110px;
}

.part1 p, .part2 p {
    margin: 14px 0 0 101px;
    font: 400 12px 'Open Sans', sans-serif;
    color: #2d3141;
    letter-spacing: 0.2px;
    line-height: 18px;
}

.part2 p{
    margin: 15px 0 0 91px;
}

/*----------------------------------
               Footer
----------------------------------*/

footer {
    height: 313px;
    background: url("../images/bg-footer-blue.png") 0 0 no-repeat;
    padding-top: 32px;
}

.technology-skills h2, .practicing-areas h2 {
    color: #78bef5;
    margin-bottom: 0;
}

.practicing-areas header h2 {
    margin-top: 40px;
}

.skills, .skills2 {
    height: 100px;
    margin: 0 101px 0 101px;
}

.part3 {
    float: left;
    width: 266px;
    height: 105px;
}

#level1-2 {
    background: url("../images/icon-level1-blue.png") 3px 38px no-repeat, url("../images/icon-level2-blue.png") 3px 95px no-repeat;
}

#level3-4 {
    background: url("../images/icon-level3-blue.png") 21px 38px no-repeat, url("../images/icon-level4-blue.png") 21px 95px no-repeat;
}

#level5-6 {
    background: url("../images/icon-level5-blue.png") 43px 38px no-repeat, url("../images/icon-level6-blue.png") 43px 95px no-repeat;
}

#level7 {
    background: url("../images/icon-level7-blue.png") 3px 36px no-repeat;
}

#level8 {
    background: url("../images/icon-level8-blue.png") 21px 36px no-repeat;
}

#level9 {
    background: url("../images/icon-level9-blue.png") 43px 36px no-repeat;
}

.part3 p{
    font: 13px 'Roboto Slab', serif;
    color: #ffffff;
    margin-top: 10px;
    margin-left: 7px;
}

.part3 > p + p {
    margin-top: 39px;
}

.part3 + .part3 > p {
    margin-left: 25px;
}

.part3 + .part3 > p + p {
    margin-left: 25px;
}

#level5-6 p, #level9 p {
	margin-left: 46px;
}